<!-- top -->
<nav class="top">
    <div class="menu"><a href="javascript:history.go(-1);"><img src="temp/images/back.svg"></a></div>
    <div class="logo">{{$state.current.data.pageTitle}}</div>
    <div class="my-person"><a href=""><img src="temp/images/sidebar.svg"></a></div>
</nav>
<!-- 注册 -->
<form class="layui-form" action="">
    <div class="weui-cells_form">
        <div class="input-row">
            <div class="weui-cell__hd">
                <label class=""></label>
            </div>
            <div class="weui-cell__bd">
                <input type="text" name="title" required lay-verify="required" placeholder="登入账号" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="input-row">
            <div class="weui-cell__hd">
                <label class=""></label>
            </div>
            <div class="weui-cell__bd">
                <input type="password" name="password" required lay-verify="required" placeholder="设置密码" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="input-row">
            <div class="weui-cell__hd">
                <label class=""></label>
            </div>
            <div class="weui-cell__bd">
                <input type="password" name="" required lay-verify="email" placeholder="电子邮箱" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="input-row">
            <div class="weui-cell__hd">
                <label class=""></label>
            </div>
            <div class="weui-cell__bd">
                <input type="password" name="" required placeholder="手机号码" autocomplete="off" class="layui-input" lay-verify="required|phone">
            </div>
        </div>
        <div class="input-row">
            <div class="weui-cell__bd">
                <input type="button" class="layui-input input-bg" lay-submit lay-filter="formDemo" value="注册">
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
layui.use('form', function() {
    var form = layui.form;
    //监听提交
    form.on('submit(formDemo)', function(data) {
        layer.msg(JSON.stringify(data.field));
        return false;
    });
});
</script>