<!-- top -->
<nav class="top">
    <div class="menu"><a href="javascript:history.go(-1);"><img src="temp/images/back.svg"></a></div>
    <div class="logo">{{$state.current.data.pageTitle}}</div>
    <div class="my-person"><a ui-sref="content.personal-center"><img src="temp/images/sidebar.svg"></a></div>
</nav>
<!-- distributed_center-img -->
<div class="search distributed_center"></div>
<!-- distributed_center-conent -->
<div id="top-recommend">
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>内容详情</p>
            </div>
        </a>
    </div>
    <div class="distributed_center-details">
    	<div class="distributed_center-title"><span>江汉朝宗</span></div>
    	<p>“江汉朝宗”景区，位于湖北武汉，是目前国内最大的城市景区  。</p>
    	<p>2014年11月19日，武汉市“江汉朝宗”景区管委会在汉口江滩正式挂牌 。</p>
    	<p>“江汉朝宗”将是全国首个以长江游览为主题的国家5A级景区，景点包括江滩、科技馆、龙王庙、武汉关博物馆、晴川阁、“龟山城市阳台”等重要景（点)  。</p>
    	<p>中文名:   江汉朝宗</p>
    	<p>所属地区:  中国武汉</p>
    	<p>规划级别:  国家5A级景区</p>
    	<p>规划面积:  98平方公里</p>
    	<div class="distributed_center-title"><span>历史文化</span></div>
    	<p>“江汉朝宗”是武汉最早的文化地标之一。这四个字出自《尚书·禹贡》：“江汉朝宗于海”，即江汉汇流，朝宗归海。相传上古时期大禹曾到武汉治水，引汉水（即汉江）入长江，武汉也因此一直是人们祭祀大禹的重要之地。明嘉靖年间，朱衣编纂的《汉阳府志》就将“江汉朝宗”列为汉阳十景之一。在2014年4月份武汉市专题研究会上，提出用“江汉朝宗”为两江四岸新景区命名[1] 。</p>
    	<div class="distributed_center-title"><span>景区规划</span></div>
    	<p>据江汉朝宗景区管委会介绍，景区规划总面积98平方公里。其中核心景区为鹦鹉洲大桥至长江二桥间两江四岸大部分景点，延伸区则扩展到白沙洲大桥至天兴洲大桥间区域。景区中占据九成面积的是汉口、武昌、汉阳和汉江4个江滩景区，此外还有龟山“城市阳台”、晴川阁、江汉关博物馆、新武汉科技馆等景点。硚口、汉阳江滩建成后，也将纳入江汉朝宗景区 。</p>
    	<div class="distributed_center-img">
    		<ul>
    			<li class="right_bottom"><a href=""><img src="temp/images/show-img.png" alt=""></a></li>
    			<li class="left_bottom"><a href=""><img src="temp/images/show-img.png" alt=""></a></li>
    			<li class="right_top"><a href=""><img src="temp/images/show-img.png" alt=""></a></li>
    			<li class="left_top"><a href=""><img src="temp/images/show-img.png" alt=""></a></li>
    		</ul>
    	</div>
    </div>
</div>
