<!-- top -->
<nav class="top">
    <div class="menu"><a href="javascript:history.go(-1);"><img src="temp/images/back.svg"></a></div>
    <div class="logo">{{$state.current.data.pageTitle}}</div>
    <div class="my-person"><a ui-sref="content.personal-center"><img src="temp/images/sidebar.svg"></a></div>
</nav>
<div class="search ticket-details">
	<div class="sale-quota">
		<div class="ticket-name">国际温泉门票</div>
		<div class="ticket-quota">已售<i>45454</i></div>
	</div>
</div>
<!-- 价格日历 -->
<div id="top-recommend" class="ticket-details-p">
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>价格日历</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>基本信息</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>产品描述</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>预订须知</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>交通信息</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
    <div class="weui-cells">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <p>用户点评</p>
            </div>
            <div class="weui-cell__ft"></div>
        </a>
    </div>
</div>
